{% extends "base.html" %}

{% block lab %}Вычитание чисел{% endblock %}

{% block main %}
    <form method="post" action="/lab4/sub">
        <h1>Вычитание чисел</h1>
        <div class="form-group">
            <input type="number" name="x1" placeholder="Первое число" required> 
            − 
            <input type="number" name="x2" placeholder="Второе число" required>
        </div>
        <button type="submit" class="button">=</button>
    </form>
    
    <div style="margin-top: 20px;">
        <a href="/lab4/" class="button">Назад в лабу 4</a>
    </div>
{% endblock %}
