<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стабровская Елизавета. {{count}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть2. {{count}}
    </header>

    <main>
         <div class="expression">
                <span class="math-operation">11 × 28</span> = <span class="result">{{11*28}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">3258 - 759</span> = <span class="result">{{3258-759}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">8452 ÷ 793</span> = <span class="result">{{"%.2f"|format(8452/793)}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">45<sup>8</sup></span> = <span class="result">{{45**8}}</span>
            </div>
           
    </main>

    <footer>
        &copy; {{ name }}, {{group}},{{number_course}}. 2025
    </footer> 
</body>
</html>