<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{ name }}. {{ count }}
        {% else %}
            Неизвестный студент. {{ count }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть2. {% if lab_num %}Лабораторная работа {{lab_num}}{% endif %}
    </header>
<div class="student-info">
            <strong>Информация о студенте:</strong><br>
            {% if name %}
                Имя: {{ name }}<br>
            {% else %}
                Имя: <em>Не указано</em><br>
            {% endif %}
            
            {% if group %}
                Группа: {{ group }}<br>
            {% else %}
                Группа: <em>Группа не назначена</em><br>
            {% endif %}
            
            {% if number_course %}
                Курс: {{ number_course }}<br>
            {% else %}
                Курс: <em>Курс не указан</em><br>
            {% endif %}
        </div>

    <main>
        <h3>Математические выражения:</h3>
 
         <div class="expression">
                <span class="math-operation">11 × 28</span> = <span class="result">{{11*28}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">3258 - 759</span> = <span class="result">{{3258-759}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">8452 ÷ 793</span> = <span class="result">{{"%.2f"|format(8452/793)}}</span>
            </div>
            <div class="expression">
                <span class="math-operation">45<sup>8</sup></span> = <span class="result">{{45**8}}</span>
            </div>
           
    </main>

     <footer>
            &copy; 
            {% if name %}
                {{ name }},
            {% else %}
                Анонимный студент,
            {% endif %}
            
            {% if group %}
                {{ group }},
            {% else %}
                Без группы,
            {% endif %}
            
            {% if number_course %}
                {{ number_course }}
            {% else %}
                не указан курс
            {% endif %}. 2025
        </footer>
</body>
</html>